body {
  font-family: sans-serif;

}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.content:before {
  content: "";
  background-image: url('http://ozon4life.com/data/out/46/image-159936655.jpg');
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;

  filter: sepia(1);
  z-index: -1;
  background-size: fixed;
  display: block;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
  filter: none;
  color: white;
}

btn {
  color: #ccc;
}

.rating {
  background-color: #337ab7;
  color: #ccc;
}

/* MIMI'S CSS HERE */
.flexContainer {
  display: flex;
}

.cartContainer {
  display: flex;
}

.lineItemName{
  display: flex;
  flex-basis: 40%;
}

.lineItemPriceQuantity{
  display: flex;
  justify-content: flex-end;
  flex-basis: 30%;
  max-height: 1em;
}

.lineItemImg{
  max-height: 4em;
}

input {
  color: black;
}

button {
  color: black;
}
/* MIMI'S CSS HERE */
